<div class="max-w-md mx-auto bg-white rounded-xl p-6 ">

  <!-- Title -->
  <h1 class="text-2xl font-semibold text-stone-900 mb-3">
    Sign in
  </h1>

  <!-- Phone number -->
<div class="mb-4 text-sm">
  <span class="text-stone-800 font-medium">

    <% if @login.to_s.match?(/\A\d+\z/) %>
      <%= @country_code %> <%= @login %>
    <% else %>
      <%= @login %>
    <% end %>

  </span>

  <%= link_to "Change", login_path,
      class: "text-blue-600 ml-2 hover:underline" %>
</div>

  <%= form_with url: signin_path,
                method: :post,
                data: { turbo_frame: "login_step" },
                class: "space-y-4" do |f| %>

    <%= hidden_field_tag :login, @login %>
    <%= hidden_field_tag :country_code, @country_code %>

    <!-- Password label + forgot -->
    <div class="flex justify-between items-center mb-1">
      <%= f.label :password,
          class: "text-sm font-medium text-stone-800" %>

      <%#= link_to "Forgot password?",
          forgot_password_path,
          class: "text-sm text-blue-600 hover:underline" %>
    </div>

    <!-- Password input -->
    <%= f.password_field :password,
        placeholder: "Enter password",
        class: "w-full px-4 py-3 border border-stone-400 rounded-xl focus:ring-2 focus:ring-blue-400 focus:outline-none" %>

    <!-- Sign in button -->
    <%= f.submit "Sign in",
        class: "w-full py-3 rounded-full bg-yellow-400 hover:bg-yellow-500 font-medium text-black" %>

  <% end %>

  <!-- Divider -->
  <div class="flex items-center my-4">
    <div class="flex-grow border-t border-stone-300"></div>
    <span class="mx-3 text-sm text-stone-500">or</span>
    <div class="flex-grow border-t border-stone-300"></div>
  </div>

  <!-- WhatsApp OTP -->
   <%= button_to "Sign in with WhatsApp OTP",
      send_otp_path,
      method: :post,
      params: { login: @login, country_code: @country_code, type: "whatsapp" },
      class: "block w-full text-center py-2 mb-3 border border-stone-400 rounded-full hover:bg-stone-50" %>

  <!-- SMS OTP -->
<%= button_to "Send OTP",
    send_otp_path,
    method: :post,
    params: { login: @login, country_code: @country_code, type: "sms" },
    class: "block w-full text-center py-3 border border-stone-400 rounded-full hover:bg-stone-50" %>

</div>