<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white p-6 sm:p-8 rounded-2xl shadow-lg w-full max-w-md">

    <!-- Heading -->
    <h2 class="text-xl font-semibold mb-2 text-gray-900">
      Password assistance
    </h2>

    <p class="text-sm text-gray-600 mb-6">
      Enter your email or mobile number
    </p>

    <!-- Form -->
    <%= form_with url: send_otp_path, method: :post, class: "space-y-4" do %>

      <!-- Input -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Email or mobile number
        </label>

        <%= text_field_tag :login,
              (@login&.include?("@") ? @login : "#{@country_code}#{@login}"),
              placeholder: "+91XXXXXXXXXX / email",
              class: "w-full border border-gray-300 focus:border-yellow-500 focus:ring-1 focus:ring-yellow-500 p-2 rounded-md outline-none" %>
      </div>

      <!-- ✅ IMPORTANT -->
      <%= hidden_field_tag :country_code, @country_code || "+91" %>

      <%= hidden_field_tag :type, "reset" %>

      <!-- Button -->
      <%= submit_tag "Continue",
            class: "w-full py-2 rounded-full bg-rose-800 text-white text-base font-medium rounded-[34px] 
      hover:bg-rose-900" %>

    <% end %>

          <div class="flex items-center my-5">
         <div class="flex-grow border-t border-gray-300"></div>
         <span class="px-3 text-gray-500 text-sm">or</span>
         <div class="flex-grow border-t border-gray-300"></div>
      </div>
      <%= button_to "Get an OTP on ypur phone",
        send_otp_path,
         method: :post,
          params: { login: @login, country_code: @country_code, type: "sms" },
         class: "block w-full text-center py-2 mb-3 border border-stone-400 rounded-full hover:bg-stone-50" %>

  </div>
</div>