<%# For infinite scroll (pagination) - append new products %>
<% if params[:page].present? && params[:page].to_i > 1 %>
  <%= turbo_stream.append 'products-grid' do %>
    <%= render 'cards', products: @products %>
  <% end %>
<% else %>
  <%# For filter/sort changes - replace entire products grid %>
  <%= turbo_stream.replace 'products-grid' do %>
    <div id="products-grid" class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-2 sm:gap-3 md:gap-4">
      <%= render 'cards', products: @products %>
    </div>
  <% end %>
  
  <%# Also update mobile filter buttons count when filters change %>
  <%= turbo_stream.replace 'mobile-filter-buttons' do %>
    <%= render 'mobile_filter_buttons' %>
  <% end %>
<% end %>

<%= turbo_stream.replace 'results-counter' do %>
  <%= render 'results_counter' %>
<% end %>

<%= turbo_stream.replace 'infinite-scroll-pagination' do %>
  <div id="infinite-scroll-pagination" 
       data-next-url="<%= @pagy.next ? url_for(params.permit!.to_h.merge(page: @pagy.next)) : '' %>"
       data-has-next="<%= @pagy.next.present? %>"
       data-updated="<%= Time.current.to_i %>"
       data-infinite-scroll-target="pagination"
       style="display: none;"></div>
<% end %>
